<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <%= comment.commenter %>
  </p>
  <p>
    <%= comment.body %>
  </p>
  <%= link_to 'Delete Comment', [comment.article, comment], method: :delete,
                              data: { confirm: 'Are you sure?'} %>
<% end %>

